@using PersonelUI.Models.EntitiyFramework;
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Departmanlar Listesi</h2>
<a class="btn btn-success" href="/Departman/Departmanform">Yeni Departman</a>
<table class="table table-bordered" id="tblDepartmanlar">
    <thead>
        <tr>
            <td>Id</td>
            <td>Ad</td>
            <td>Güncelle</td>
            <td>Sil</td>
            <td>Sil 2 Ajax</td>
            <th>Personeller</th>
            <th>Personeller Ajax ile</th>
        </tr>
    </thead>
    <thead>
        @foreach (var d in Model)
        {
        <tr>
            <td>@d.Id</td>
            <td>@d.Ad</td>
            <td><a class="btn btn-primary" href="/Departman/Guncelle/@d.Id">Güncelle</a></td>
            <td><a class="btn btn-danger" href="/Departman/Sil/@d.Id">Sil</a></td>
            <td><a class="btn btn-danger btnDepartmanSil" data-id="@d.Id">Sil2</a></td>
            <td>@Html.ActionLink("Personelleri Göster","PersonelleriListele","Personel", new {id=d.Id },new {@class="btn btn-primary" })</td>
            <td>@Ajax.ActionLink("Personelleri Göster","PersonelleriListele","Personel", new { id=d.Id }, new AjaxOptions {HttpMethod="GET", UpdateTargetId= "personelListesi" }, new {@class="btn btn-primary" })</td>
        </tr>
        }

    </thead>
</table>
<div id="personelListesi">

</div>